.home .hero img {
  max-width: 160px !important;
}
.home .hero .description {
  font-size: 20px;
}
.home .footer {
  font-size: 14px;
  border: none !important;
}
.nav-links {
  padding-left: 10px;
}
.nav-item > a {
  border-bottom: none !important;
}

.search-box input {
  background-color: #f5f5f5 !important;
  border: none !important;
}

.content__default {
  font-size: 14px;
}
.content__default table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.content__default blockquote {
  font-size: 14px;
}

.router-link-active {
  color: #f27234 !important;
}

.extra-class:before {
  content: '' !important;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
  font-weight: normal;
}

table thead {
  background-color: #f9f9f9;
}
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.theme-default-content:not(.custom) {
  max-width: none;
}

.theme-default-content:not(.custom)
  > *:first-child
    margin-top 0

.tests{
  display:flex;
}